@font-face {
  font-family: 'Cookierun Black';
  font-style: normal;
  font-weight: normal;
  src: local('CookieRun'), url('./font/CookieRun Black.otf') format('opentype');
}

@font-face {
  font-family: 'Cookierun Bold';
  font-style: normal;
  font-weight: normal;
  src: local('CookieRun'), url('./font/CookieRun Bold.otf') format('opentype');
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Cookierun Bold', sans-serif;
}

body:after{
  content: "";
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("./background.jpg");
  position: fixed;
  opacity: 0.3;
}

#root {
  height: 100%;
}

a,
a:active,
a:visited,
a:hover,
a:link {
  text-decoration: none;
  color: black;
}

button {
  font-family: 'Cookierun Bold', sans-serif;
}
